    <!-- THREE JS -->
    <script src="//threejs.org/build/three.min.js"></script>

    <!-- LOADERS -->
    <script src="//threejs.org/examples/js/loaders/FBXLoader.js"></script>
    <script src="//threejs.org/examples/js/loaders/GLTFLoader.js"></script>
    <script src="//threejs.org/examples/js/loaders/DRACOLoader.js"></script>
    <script src="https://unpkg.com/@seregpie/three.text-texture"></script>

    <!-- CONTROLS -->
    <script src="//threejs.org/examples/js/libs/inflate.min.js"></script>
    <script src="//threejs.org/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/opentype.js@latest/dist/opentype.min.js"></script>


    <!-- SHADERS ND POST PROCESSINGS -->
    <script src="//threejs.org/examples/js/math/SimplexNoise.js"></script>
    <script src="//threejs.org/examples/js/postprocessing/EffectComposer.js"></script>
    <script src="//threejs.org/examples/js/shaders/DepthLimitedBlurShader.js"></script>
    <script src="//threejs.org/examples/js/shaders/UnpackDepthRGBAShader.js"></script>
    <script src="//threejs.org/examples/js/shaders/SAOShader.js"></script>
    <script src="//threejs.org/examples/js/shaders/CopyShader.js"></script>
    <script src="//threejs.org/examples/js/shaders/FXAAShader.js"></script>
    <script src="//threejs.org/examples/js/shaders/VignetteShader.js"></script>
    <script src="//threejs.org/examples/js/shaders/LuminosityHighPassShader.js"></script>
    <script src="//threejs.org/examples/js/postprocessing/RenderPass.js"></script>
    <script src="//threejs.org/examples/js/postprocessing/ShaderPass.js"></script>
    <script src="//threejs.org/examples/js/postprocessing/SSAARenderPass.js"></script>
    <script src="//threejs.org/examples/js/postprocessing/TAARenderPass.js"></script>
    <script src="//threejs.org/examples/js/postprocessing/MaskPass.js"></script>
    <script src="//threejs.org/examples/js/postprocessing/UnrealBloomPass.js"></script>
    <script src="//threejs.org/examples/js/postprocessing/SAOPass.js"></script>
    
    <!-- OTHERS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>
    
    <!-- MODIFIERS -->
    <script src="//threejs.org/examples/js/modifiers/SimplifyModifier.js"></script>
    <script src="//threejs.org/examples/js/modifiers/SubdivisionModifier.js"></script>
  </head>


  <body>
    <div id='root' />
  </body>

  {{ 'uncutbk.bundle.js' | asset_url | script_tag }}