.product-single__meta {
  padding-top: 0px;
}

.btn.btn--add-to-cart {
  margin-top: 25px;
  min-width: 170px;
}

.main-content {
  padding-top: 30px !important;
}

.main-content.builder {
  padding-top: 0 !important;
}

.estimation {
  font-weight: bold;
}

#shipping-object {
  display: none;
}

.warning {
  font-style: italic;
  margin-top: 25px;
}