html, .main-content {
  overflow-x: hidden;
}

@keyframes color-pulse {
  from {
    opacity: 1;
  }
  50% {
    opacity: .87;
  }
  to {
    opacity: 1;
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateX(25vw);
  -webkit-transform: translateX(25vw);
  visibility: hidden;
  transition: opacity 0.3s ease-out, transform .6s ease-out;
  -webkit-transition: opacity 0.3s ease-out, transform .6s ease-out;
  will-change: opacity, visibility, transform;
}


.fade-in-section.left {
  transform: translateX(-25vw);
  -webkit-transform: translateX(-25vw);
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  -webkit-transform: none;
  visibility: visible;
}

.product-single__meta {
  padding-top: 0px;
}

.btn.btn--add-to-cart {
  margin-top: 25px;
  min-width: 170px;
  animation: color-pulse 3.5s ease-in-out infinite;
}

#shopify-section-footer {
  padding-top: 30px;
  background-color: #513687;
  color: white;
}

.site-footer a {
  color: white !important;
}



.main-content .index-sections {
  padding-top: 0px !important;
}

.main-content.builder {
  padding: 0 !important;
}

.estimation {
  font-weight: bold;
}

#shipping-object {
  display: none;
}

.warning {
  font-style: italic;
  margin-top: 100px;
  text-align: center;
}

.product-single__policies {
  margin: 15px 0;
}

.site-nav__link {
  letter-spacing: 0.05em;
}

@media screen and (min-width: 591px) {
  .main-content.index-page {
    padding-top: 0px !important;
  }
}

.main-content.index-page {
  padding-top: 0px !important;
}

.newsletter--form {
  margin-bottom: 15px;
}

.newsletter--form .input-group {
  width: 100%;
}

.newsletter--form .input-group input:focus {
  outline: none;
}

.slick-next:focus, .slick-prev:focus {
  outline: none;
}


.slick-slider {
  margin-bottom: 0px;
}


.hr--small.white {
  border-top: 1px solid white;
}

.hr--long {
  width: 100%;
}

#insta-feed h2 {
  font-family: Roboto;
  font-weight: 100;
}

.popup-input-group-btn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}


.about-main {
  display: grid;
  grid-template-columns: 4fr 3fr;
}

.about-content {
  padding-left: 35px;
}

.about-content p {
  margin: 0 0 8px 0;
}

.about-image {
  padding-bottom: 30px;
}



.about-content h4 {
  text-transform: capitalize;
  margin-bottom: 5px;
}

.about-content b {
  font-weight: 800;
}


@media screen and (max-width: 590px) {
  .newsletter__submit-text--large {
    display: block;
  }

  .about-main {
    grid-template-columns: 1fr !important;
  }

  .about-content {
    padding-left: 0px;
  }
}

#CartDrawer {
  z-index: 900;
}

@media screen and (min-width: 769px) {
  .main-content {
      padding-top: 150px;
  }
}

.main-content {
  padding-top: 160px;
}

.grid-product__price-wrap {
  display: none;
}

@media screen and (min-width: 591px) {
  .newsletter .newsletter__input {
      font-size: 1.125em;
  }
}